<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Asciidoctor documentation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
</head>
<body>
<section class="section">
  <div class="container">
    <h1 class="title">
      Asciidoctor projects
    </h1>
    <p class="subtitle">
      Discover the rich ecosystem of <strong>Asciidoctor</strong>!
    </p>
    <div id="languages" class="languages">
      <template v-for="language in languages">
        <input type="radio"
               name="language"
               value="{{language.name}}"
               v-bind:id="'lang-' + language.name"
               v-on:click="filterByLanguage(language.name, $event)">
        <label v-bind:class="['lang-' + language.name, 'tag']"
               v-bind:for="'lang-' + language.name">{{language.name}}</label>
      </template>
      <a id="clear-filter"
         class="tag is-delete is-invisible"
         v-on:click="clearFilter()">&nbsp;
      </a>
    </div>
    <div id="projects" class="project-list">
      <template v-for="project in projects">
        <div class="project-card">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{project.name}}
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                {{project.description}}
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
          <span>
            <i class="fas fa-circle" v-bind:style="{ color: project.languageColor }"></i> {{project.language}}
          </span>
              </p>
              <p class="card-footer-item">
          <span>
            <i class="fas fa-star"></i> {{project.stargazersCount}}
          </span>
              </p>
              <p class="card-footer-item">
          <span>
            <i class="fab fa-github-alt"></i> <a v-bind:href="project.homePageURL">Source</a>
          </span>
              </p>
              <p class="card-footer-item">
          <span>
            <i class="fas fa-book"></i> <a v-bind:href="project.documentationURL">Doc</a>
          </span>
              </p>
            </footer>
          </div>
        </div>
      </template>
    </div>
  </div>
</section>
<script src="https://unpkg.com/github-api/dist/GitHub.bundle.min.js"></script>
<script src="build/projects.js"></script>
<script src="build/init.js"></script>
</body>
</html>
